{% extends 'user_administration/base.html' %}

{% block body %}
    <div class="container">
        <br>
        <a href="{% url 'UserAdministration:ClientUpdateView' client.pk %}" class="btn btn-primary btn-block">Edit User</a>
        <br>
        <h2><b>First Name: </b> {{ client.first_name }}</h2>
        <hr>
        <h2><b>Last Name: </b> {{ client.last_name }}</h2>
        <hr>
        <h2><b>IBAN: </b> {{ client.iban }}</h2>
        <hr>
        <h2><b>Country: </b> {{ client.country }}</h2>
        <hr>
        <h2><b>Created Time: </b> {{ client.createdTime }}</h2>
        <br>
        <form method="post" action="{% url 'UserAdministration:ClientDeleteView' client.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-block">Delete User</button>
        </form>
        <br>
    </div>
{% endblock body %}
