<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>User Administration</title>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css" rel="stylesheet" type="text/css">
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="jumbotron">
                    <div class="container">
                        <img src="{% static 'img/login.png' %}" class="rounded mx-auto d-block small" alt="...">
                        <hr>
                        <form action="{% url "social:begin" "google-oauth2" %}">
                            <button class="btn btn-block btn-social btn-lg btn-google">Sign in with Google +</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>